modelService/modelService/__pycache__/
modelService/apis/__pycache__/
modelService/apis/migrations/

model-server/

learningService/learningService/__pycache__/
learningService/deeplearning/__pycache__/
learningService/deeplearning/migrations/
learningService/deeplearning/parameterFile/

labelsService/labelsService/__pycache__/
labelsService/labeling/__pycache__/
labelsService/labeling/migrations/

# Images

AccurateDatasetConsumerService/image/

eureka-microservices/

ips/ips.json

parameter/